



.top-buffer {
  margin-top: 20px;
}

.accordion-filters {


  .filter-box {
    text-align: center;
    background: white;
    border-radius: 5px;
    padding: 20px;
    font-family: Tahoma;



    .date-field {
      display: block;
    }

    .datepicker-box {
      display: none;
      position: relative;
      z-index: 999;
    }

    .calendar-visible  {
      display: block;
      position: absolute;
    }

  }
}


.invalid-input {
  color: red;
}



ul.article {
  margin: 20px;
  padding: 40px;
  list-style-type: none;
  background: white;
  border-radius: 5px;
  border: 1px solid #dadada;

  p {
    font-family: Tahoma;
  }
}



@media all and (min-width: 450px) {
  h1 {
    text-align: center;
    background: black;
    color: white;
    margin: 0;
    padding: 20px;
  }

}
@media all and (max-width: 450px) {
  h1 {
    text-align: center;
    background: black;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 25px;
  }

  ul.article {

    margin: 10px;
    padding: 10px;

    p {
      font-size: 12px;
      margin: 0;
      padding: 0;
    }

    h3 {
      font-size: 14px;

    }
  }

  .accordion-filters {
    .filter-box {
      padding: 5px;

      label {
        font-size: 10px;
      }
      input {
        padding: 0;
      }
    }
  }

}
